@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Heebo',sans-serif;
    cursor: pointer;
    scroll-behavior: smooth;
    
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
}

.hamburger{
  display: none;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

h2{
    font-size: 2.5rem;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
}

.logo {
    font-family: 'Caesar Dressing', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(-50% , -50%) scale(6);
}
.home{
    height: 100vh;

}


.first-page{
    height: 100vh;
    background: rgba(10, 10, 10, 0.938);
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.first-page p{
  text-align: left;
  overflow: hidden;
  margin-top: 1rem;
}

.second-page p{
  text-align: center;
  overflow: hidden;
}

.first-page img{
    height: 100%;
    width: 40vw;
    background-repeat: no-repeat;

}
.second-page{
    height: 100vh;
    background: rgba(10, 10, 10, 0.938);
    color: white;
    display:flex;
    align-items: center;
    overflow: hidden;
    max-width: 100vw;
    flex-direction: column;
}
#project{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
#work1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 1rem;

}
#work1 a{
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  background-color:rgba(10, 10, 10, 0.938) ;
  padding: 0.5rem;
  color: white;
  border: 1px solid whitesmoke;
  transform: translate(-50% ,10%);

}
/* #work1 a:hover{
  background-color: white;
  color: rgba(10, 10, 10, 0.938);;
  transition-delay: 0.3ms;
} */
#resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
      color: white;
    /* color: #a683e3; */
    margin: 10px;
  }
  
  #contact {
    color: rgba(10, 10, 10, 0.938);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* background-color: #a683e3; */
    background-color: white;
  }
  
  #icon {
    background-color:rgba(10, 10, 10, 0.938);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  }
  
  #icon-container {
    display: flex;
    justify-content: center;
  }
  
  #icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
    font-size: 1rem;
  }
  .resume-down{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(10, 10, 10, 0.938) ;
    padding: 0.5rem;
    color: white;
    border: 1px solid whitesmoke;
  }



  @media screen and (max-width: 768px ){
    .nav-menu{
      position: fixed;
        left: -100%;
        top: 2rem;
        flex-direction: column;
        background-color:none;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        /* box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05); */
    }

    .nav-menu.active{
      left: 0;
    }
    .hamburger{
      display: block;
      cursor: pointer;
      margin-left: 80%;
    }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .sliding-text{
    font-size: 0.5rem;
  }
  .logo{
    font-size: 1rem;
  }

  #aboutme-img{
      display: none;
  }

  .first-page p{
    overflow: hidden;
    text-align: left;
    justify-content: center;
    margin-top: 1rem;
  }

  .intro h2{
    font-size: 3rem;
  }

  .second-page p{
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

  }
  
  @media screen and (max-width: 426px) {
   #icon {
     width: 30px;
     height: 30px;
    }
    
    ul li {
      font-size: 12px;
    }
    
    #contact p {
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 2560px) {
   #icon {
     width: 50px;
     height: 50px;
    }
    
    ul li {
      font-size: 20px;
    }
    
    #contact p {
      font-size: 16px;
    }
  }