@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Heebo',sans-serif;
    cursor: pointer;
    
}

nav{
    display:flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;
}

h2{
    font-size: 2.5rem;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
}

.logo {
    font-family: 'Caesar Dressing', cursive;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.5rem;
    transform: translate(-50% , -50%) scale(6);

}
.home{
    height: 100vh;

}


.first-page{
    height: 100vh;
    background: rgba(10, 10, 10, 0.938);
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.first-page img{
    height: 100%;
    width: 40vw;
    background-repeat: no-repeat;
}
.second-page{
    height: 100vh;
    background: rgba(10, 10, 10, 0.938);
    color: white;
    display:flex;
    align-items: center;
    overflow: hidden;
    max-width: 100vw;
    flex-direction: column;
}
#project{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
#work1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem ;
  flex-direction: column;
  font-size: 2rem;

}
#work1 a{
  text-decoration: none;
  color: white;
  padding: 0.3rem;
  border: white solid 0.2rem;
  border-radius: 30%;
  transform: translate(-50% ,10%);
}
#resume{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
      color: white;
    /* color: #a683e3; */
    margin: 10px;
  }
  
  #contact {
    color: rgba(10, 10, 10, 0.938);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* background-color: #a683e3; */
    background-color: white;
  }
  
  #icon {
    background-color:rgba(10, 10, 10, 0.938);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  }
  
  #icon-container {
    display: flex;
    justify-content: center;
  }
  
  #icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
    font-size: 1rem;
  }
  
  @media screen and (max-width: 426px) {
   #icon {
     width: 30px;
     height: 30px;
    }
    
    ul li {
      font-size: 12px;
    }
    
    #contact p {
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 2560px) {
   #icon {
     width: 50px;
     height: 50px;
    }
    
    ul li {
      font-size: 20px;
    }
    
    #contact p {
      font-size: 16px;
    }
  }